.card-background {
    background-color: #343028;
}

p {
    font-size: 0.8em;
    color: wheat;
}

.card-height {
    height: 100%;
}


i {
    color: black;
}


h4 {
    font-size: 1.1em;
    color: wheat;
}